body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  padding: 2rem;
}
.header > h1 {
  margin: 1.3rem;
}

.App {
  text-align: center;
  color: #f0ffff;
  background: url(../src/images/AYSF1498.JPG);
}
.btn{
  margin-top: 20px;
  height: 40px;
  float: right;
  background-color: green;
  color: black;
  border-radius: 7px;
}
